<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>No Wrong Door</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="assets/css/main.css"/>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Marcellus+SC|Pangolin" rel="stylesheet">
</head>
<body>
	<div class = "mainpage">
		<nav id = "navbar" class="navbar navbar-default">
			<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">No Wrong Door</a>
			</div>
				<ul class="nav navbar-nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="all.html">Browse All</a></li>
					<li><a href="contact.html">Feedback</a></li>
				</ul>
			</div>
		</nav>
		<div id="head" class="container">
			<h2>What is No Wrong Door?</h2>
				<h5>No Wrong Door is a website decicated to finding resources specifically for you!
					It uses your age, area of need, and suburb of your preference to 
					craft a list of resources. This website is still in its building stages.
				 	Click on the "Feedback" tab to let us know what you think!
					Thank you for visiting!</h5>
		</div>
		<br>
		<br>
		<div id="form" class="container">
			<h3>Get Started by Entering in your Information!</h3>
			<div id="searchform" class="form-horizontal">
				<div class="form-group">
					<label class="control-label col-sm-4" for="age">Age:</label>
					  <div class="col-sm-4">
						<input type="number" class="form-control" id="age" placeholder="Enter your age">
					  </div>
				</div>
				<div id="need" class="form-group">
					<label class="control-label col-sm-4" for="cat">Category:</label>
					  <div class="col-sm-4">          
						<select class="form-control" id="cat">
							<option v-for="cat in categs" v-bind:value="cat.value">
								{{ cat.text }}
							</option>
						</select>
					  </div>
				</div>
			<div class="form-group">
				<label class="control-label col-sm-4" for="sub">Suburb:</label>
					<div class="col-sm-4">
						<select class="form-control" id="sub">
							<option v-for="sub in suburbs" v-bind:value="sub.value">
								{{ sub.text }}
							</option>
						</select>
					</div>
			</div>
			<div class="form-group">        
				<div class="col-sm-offset-5 col-sm-2">
					<button type="submit" id="search" class="btn btn-default">Search</button>
				</div>
			</div>
		</div>
		</div>
		<br>
		<div id="result" class="container"></div>
			<table id="filtered" class="table"></table>
		</div>
		<br>
		<button onclick="backTop()" id="topBtn" title="Back to Top" class="btn btn-dark">Top</button>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/data.js"></script>
	<script src="assets/js/scroll.js"></script>	
</body>
</html>



